# ide
.vscode/

# cache
.mypy_cache/
.pytest_cache/
__pycache__/
venv/

# build outputs
src/import_dialog*.py
build*.zip
*.pyc
*.un~
.coverage
htmlcov/
docs/_build

# anki add-on metadata file which appears when live-linking
meta.json
